.my-container.container
  .row
    .col-md-12
      %h2 ¿En que ayuda OfertOn a tu negocio?
      %p ¿Cuánto dinero gastas en publicitar un producto o servicio? ¿A cuántas de las personas que ven tu anuncio realmente les interesa? ¿Qué relación hay entre tus clientes y tu después de una compra? ¿Cómo motivas a tu cliente para que te recomiende?
      .row
        .col-md-4
          .jumbotron
            %h2
              %span.glyphicon.glyphicon-screenshot
              Segmentación
            %p Ofrece tus productos o servicios sólo a las personas que esten buscando algo similar a tu propuesta, esto lo logramos gracias a la categorización de los productos y servicios que ofreces, OfertOn no es un catálogo de productos, cuándo alguien realiza una busqueda es por que tiene intención de compra.
        .col-md-4
          .jumbotron
            %h2
              %span.glyphicon.glyphicon-signal
              Seguimiento
            %p Cada que se realiza una compra, puedes saber cuántas compras te ha hecho ese cliente, además, OfertOn te permite hacer promociones especificas a clientes recientes, enviarle un mensaje personalizado, realizar encuesta de satisfacción, etc. Puedes darle seguimiento a tu cliente después de la compra!         .col-md-4
        .col-md-4
          .jumbotron
            %h2
              %span.glyphicon.glyphicon-heart
              Selección
            %p Tendrás un grupo de clientes frecuentes, a los cuáles puedes premiar por su preferencia, enviarles mensajes personalizados, otorgarles descuentos especiales, felicitarlos en fechas importantes etc, ellos no son solo tus clientes son tu grupo de seguidores, una parte muy importante de tu negocio.. te ayudamos a identificarlos!




