.my-container.container
  .row
    .col-md-12
      %h2 Funcionamiento de OfertOn
      %p OfertOn es una plataforma web y m&oacute;vil donde podr&aacute;s encontrar ofertas en tu ciudad de todo tipo, agrupadas por categor&iacute;a y ubicación, a diferencia de otras aplicaciones de ofertas y promociones, las publicaciones que aquí encontrar&aacute;s son hechas directamente por las empresas participantes, por lo que la confiabilidad de cada oferta es del 100%.
      %p OfertOn llevar&aacute; para ti un historial con tus compras y el ahorro obtenido en cada una de ellas, adem&aacute;s este historial le servir&aacute; a los establecimientos que m&aacute;s frecuentas para premiarte por tu preferencia.
      %p Al acumular cierta cantidad de compras en el mismo establecimiento, podrás ser parte del grupo de clientes frecuentes de ese negocio, con lo cuál tendras derecho a ofertas exclusivas para clientes frecuentes.
      %h3 Tenemos 2 tipos de compras:
      .row
        .col-md-6
          .jumbotron
            %h2
              %span.glyphicon.glyphicon-check
              Reservación
            %p Cuando haces la compra de un producto o servicio que requiere tu presencia en determinado lugar, por ejemplo: Citas con el doctor, reservación en un restaurante, cita en estetica, lavado de coche etc, en este caso al momento de "serservar" la oferta OfertOn te asignará una clave con la cuál harás valida tu promoción en el establecimiento correspondientes en las fechas, horas y condiciones correspondientes.
        .col-md-6
          .jumbotron
            %h2
              %span.glyphicon.glyphicon-home
              Pedido
            %p Esta modalidad se utiliza cuando el servicio y producto que compras necesita ir a un lugar determinado, por ejemplo: Compra de una comida rápida, renta de lavadoras, un pintor para tu casa, un mueble, etc, en este caso al momento de realizar la compra OfertOn se le notificará al establecimiento y te pediremos indiques el lugar a donde tu producto o servicio tiene que llegar, al momento quedará reflejada la compara en tu historial.
      =render 'actions_botons'

